html {
    scroll-behavior: smooth;  
}

body{
    font-size: large;
    background-color: lavender;
    color: black;
}

.jumbotron{
    min-height: 600px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size : 100%;
    color: white;
}

.jumbo-home{
    background-image: url(road.jpg)
}

.jumbo-project {
    background-image: url(water.jpg);
}

.jumbo-education{
    background-image: url(lake.jpg.crdownload);
}

.jumbo-hobbies{
    background-image: url(voilin.jpg);
}

.jumbo-contact{
    background-image: url(telephone.jpg);
}